# FE ignore
node_modules/
bower_components
# debug ignore
# 忽略所有build目录下的文件，但如果是名为build的文件则不忽略

npm-debug.log
dist/

# 忽略使用WebStorm开发时，生成的缓存文件夹
# IDE ignore
.DS_Store
.idea

# 忽略特定文件或文件夹
package-lock.json

# 只忽略当前目录下的public目录，子目录的public不在忽略范围内
/public/*
!/public/config/README

# 只忽略当前目录下的test目录，子目录的test不在忽略范围内

/test/
/service/config/setting

*.mp3
*.mp4
*.mov
*.mpeg
*.rar
*.zip

npm-debug.log

# testing
/coverage
# production


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
makefile

*.log
explorations
TODOs.md
dist
test/e2e/reports
test/e2e/screenshots
coverage
RELEASE_NOTE*.md
packages/vue-server-renderer/basic.js
packages/vue-server-renderer/build.js
packages/vue-server-renderer/server-plugin.js
packages/vue-server-renderer/client-plugin.js
packages/vue-template-compiler/build.js

npm-debug.log
package-lock.json

# 忽略使用VSCode开发时，生成的缓存文件夹
.vscode
tree.md
*.idea

elm/




